<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="section-title text-center pb-10">
                <h4 class="title text-muted">Nuestro Equipo</h4>
                <hr>
                <h3 class="text">Contáctanos y realiza tu cotización ¡Nuestro equipo estará atendiendo tus dudas!</h3>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6">
            <div class="card-container">
                <div class="header">
                    <a href="#">
                        <img src="assets/images/agent.svg">
                    </a>
                    <h2 class="text-primary">Peter Medina</h2>
                    <h4 class="text-muted">Asesor de Ventas</h4>
                    <h4 class="text-muted">San Pedro Sula</h4>
                    <div class="social">
                        <a href=""><i class="lni lni-whatsapp"></i></a>
                        <a href=""><i class="lni lni-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-container">
                <div class="header">
                    <a href="#">
                        <img src="assets/images/agent.svg">
                    </a>
                    <h2 class="text-primary">Peter Medina</h2>
                    <h4 class="text-muted">Asesor de Ventas</h4>
                    <h4 class="text-muted">San Pedro Sula</h4>
                    <div class="social">
                        <a href=""><i class="lni lni-whatsapp"></i></a>
                        <a href=""><i class="lni lni-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-container">
                <div class="header">
                    <a href="#">
                        <img src="assets/images/agent.svg">
                    </a>
                    <h2 class="text-primary">Peter Medina</h2>
                    <h4 class="text-muted">Asesor de Ventas</h4>
                    <h4 class="text-muted">San Pedro Sula</h4>
                    <div class="social">
                        <a href=""><i class="lni lni-whatsapp"></i></a>
                        <a href=""><i class="lni lni-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="cuerpo-c">
    <div class="container-b">
        <div class="box">
            <div class="imgBx">
                <img src="assets/images/call.png">
            </div>
            <div class="contenido">
                <div class="icon">
                    <img src="assets/images/call.png">
                </div>
                <h3>Telefonos</h3>
                <h4>+504 2502-6809</h4>
                <h4>+504 3336-8405</h4>
            </div>
        </div>
    </div>

    <div class="container-b">
        <div class="box">

            <div class="imgBx">
                <img src="assets/images/open-email.png">
            </div>
            <div class="contenido">
                <div class="icon">
                    <img src="assets/images/open-email.png">
                </div>
                <h3>Correo</h3>
                <h4>info@medisystem.hn</h4>

            </div>
        </div>
    </div>

    <div class="container-b">
        <div class="box">

            <div class="imgBx">
                <img src="assets/images/map.png">
            </div>
            <div class="contenido">
                <div class="icon">
                    <img src="assets/images/map.png">
                </div>
                <h3>Dirección</h3>
                <h4>Bo. Los Andes, 8 calle "A", 11-12 Ave. N.O. San Pedro Sula, Honduras</h4>
            </div>
        </div>
    </div>
</div>




<section class="contact-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-10">
                    <h4 class="title">¡Envíanos un correo!</h4>
                    <p class="text">
                        ¡Conoce mas detalles de costos, asesoría y disponibilidad contactándonos!
                    </p>
                </div>
               
            </div>
        </div>
       
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form">
                    <form id="contact-form" action="assets/contact.php" method="post" data-toggle="validator">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-form form-group">
                                    <input type="text" name="name" placeholder="Nombre" data-error="Name is required."
                                        required="required" />
                                    <div class="help-block with-errors"></div>
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="single-form form-group">
                                    <input type="email" name="email" placeholder="Correo"
                                        data-error="Valid email is required." required="required" />
                                    <div class="help-block with-errors"></div>
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="single-form form-group">
                                    <input type="text" name="subject" placeholder="Tema"
                                        data-error="Subject is required." required="required" />
                                    <div class="help-block with-errors"></div>
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="single-form form-group">
                                    <input type="text" name="phone" placeholder="Celular"
                                        data-error="Phone is required." required="required" />
                                    <div class="help-block with-errors"></div>
                                </div>
                                
                            </div>
                            <div class="col-md-12">
                                <div class="single-form form-group">
                                    <textarea placeholder="Escribenos tu mensaje..." name="message"
                                        data-error="Please, leave us a message." required="required"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                               
                            </div>
                            <p class="form-message"></p>
                            <div class="col-md-12">
                                <div class="single-form form-group text-center">
                                    <button type="submit" class="main-btn mb-50">send message</button>
                                </div>
                                
                            </div>
                        </div>
                        
                    </form>
                </div>
               
            </div>
            <div class="col">
                <img src="assets/images/undraw_social.svg">
            </div>
        </div>
        
    </div>
   
</section>