<header class="header-area">
    <div class="navgition navgition-transparent">
        <app-navbar></app-navbar>
    </div>
</header>

<!--HOME SECTION-->
<div id="home" class="header-hero bg_cover" style="background-image: url(assets/images/header-bg.jpg)">
    <app-home-section></app-home-section>
</div>

<div class="body">
    <div class="card">
        <div class="imgBx">
            <img src="assets/images/Imagen1.png">
        </div>
        <div class="contentBx">
            <h3>RAYOS X PORTATIL</h3>
            <h2 class="price">MODELO<small>DRGEM</small></h2>
            <a href="#" class="buy">Buy Now</a>
        </div>
    </div>
    <div class="card">
        <div class="imgBx">
            <img src="assets/images/Imagen1.png">
        </div>
        <div class="contentBx">
            <h3>RAYOS X PORTATIL</h3>
            <h2 class="price">MODELO<small>DRGEM</small></h2>
            <a href="#" class="buy">Buy Now</a>
        </div>
    </div>
    <div class="card">
        <div class="imgBx">
            <img src="assets/images/Imagen1.png">
        </div>
        <div class="contentBx">
            <h3>RAYOS X PORTATIL</h3>
            <h2 class="price">MODELO<small>DRGEM</small></h2>
            <a href="#" class="buy">Buy Now</a>
        </div>
    </div>
    <div class="card">
        <div class="imgBx">
            <img src="assets/images/Imagen1.png">
        </div>
        <div class="contentBx">
            <h3>RAYOS X PORTATIL</h3>
            <h2 class="price">MODELO<small>DRGEM</small></h2>
            <a href="#" class="buy">Buy Now</a>
        </div>
    </div>
    <div class="card">
        <div class="imgBx">
            <img src="assets/images/Imagen1.png">
        </div>
        <div class="contentBx">
            <h3>RAYOS X PORTATIL</h3>
            <h2 class="price">MODELO<small>DRGEM</small></h2>
            <a href="#" class="buy">Buy Now</a>
        </div>
    </div>
    <div class="card">
        <div class="imgBx">
            <img src="assets/images/Imagen1.png">
        </div>
        <div class="contentBx">
            <h3>RAYOS X PORTATIL</h3>
            <h2 class="price">MODELO<small>DRGEM</small></h2>
            <a href="#" class="buy">Buy Now</a>
        </div>
    </div>

    
</div>

<footer id="footer" class="footer-area">
    <app-footer></app-footer>
</footer>
