<!--NAVBAR-->
<header class="header-area">
    <div class="navgition navgition-transparent">
        <app-navbar></app-navbar>
    </div>
</header>

<!--HOME SECTION-->
<div id="home" class="header-hero bg_cover" style="background-image: url(assets/images/header-bg.jpg)">
    <app-home-section></app-home-section>
</div>

<!--QUIENES SOMOS-->
<div id="quienes-somos">
    <app-quienes-somos></app-quienes-somos>
</div>


<!--SERVICIOS-->
<section id="servicio">
    <app-servicios></app-servicios>
</section>

<!--NOTICIAS-->
<section id="noticias">
    <app-noticias></app-noticias>
</section>

<!--CONTACTO-->
<br><br>
<section id="contacto">
    <app-contacto></app-contacto>
</section>

<!--FOOTER-->
<footer id="footer" class="footer-area">
    <app-footer></app-footer>
</footer>
<!--FOOTER ENDS-->