<section id="call-to-action">
    <div class="container mt-50 mb-50">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="slider">
                    <div class="slides">
                        <!--radio buttons start-->
                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">
                        <input type="radio" name="radio-btn" id="radio4">
                        <!--radio buttons end-->
                        <!--slide images start-->
                        <div class="slide first">
                            <img src="assets/images/img_1.jpg" alt="">
                        </div>
                        <div class="slide">
                            <img src="assets/images/img_2.jpg" alt="">
                        </div>
                        <div class="slide">
                            <img src="assets/images/img_3.jpg" alt="">
                        </div>
                        <div class="slide">
                            <img src="assets/images/img_4.jpg" alt="">
                        </div>
                        <!--slide images end-->
                        <!--automatic navigation start-->
                        <div class="navigation-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                            <div class="auto-btn4"></div>
                        </div>
                        <!--automatic navigation end-->
                    </div>
                    <!--manual navigation start-->
                    <div class="navigation-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                        <label for="radio4" class="manual-btn"></label>
                    </div>
                    <!--manual navigation end-->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="call-action-content text-center">
                    <h3 class="call-title text-muted">
                        El panorama actual está cargado de muchas presiones, por lo que la
                        inactividad no es algo que se pueda permitir.
                    </h3>

                    <hr />
                    <p class="text-dark mt-10">
                        Por eso los equipos médicos deben funcionar las 24 horas del día y
                        los 7 días de la semana. En MediSystem te ofrecemos tecnología que
                        va de la mano de la vanguardia para las diferentes especialidades
                        médicas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="pricing-area">
<div class="container" >

    <div class="row justify-content-end">
        <div class="col-lg-6">
            <div class="call-action-content text-center">
                <h3 class="call-title text-dark">
                    No te preocupes, no te dejamos solo.
                </h3>

                <hr />
                <p class="text-dark">
                    Una de nuestras prioridades es asegurarnos de que obtengas la clase de servicio completa que estás
                    buscando.
                    Obtén una asesoría minuciosa para que puedas adquirir el equipo perfecto para tu consultorio y poder
                    ofrecer a tus pacientes una atención de primera.
                    ¿Deseas conocer una lista de costos? Estamos a tu orden
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="call-action-content">
                <img src="assets/images/img_2.jpg" style="border-radius: 5px" alt="call-to-action" />
            </div>
        </div>
    </div>

</div>
</div>

<section id="call-to-action">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="call-action-content">
                    <img src="assets/images/img_4.jpg" style="border-radius: 5px" alt="call-to-action" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="call-action-content text-center">
                    <h3 class="call-title text-muted">
                        Ayuda a tus pacientes con soluciones rapidas, eficientes e innovadoras
                    </h3>

                    <hr />
                    <p class="text-dark mt-10">
                        Medisystem te otorga la oportunidad de contar con equipos e insumos médicos que den la talla y
                        que estén a la
                        altura de tu conocimiento profesional y servicios.
                        Desde máquinas de rayos X portátiles que te permiten trabajar con mayor facilidad, hasta mesas
                        de operación
                        que cuentan con todo lo que necesitas para que tus pacientes se sientan en confianza y
                        comodidad.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="call-to-action" class="call-to-action">
    <div class="call-action-image">
        <img src="assets/images/call-to-action.png" alt="call-to-action" />
    </div>

    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="call-action-content text-center">
                    <h2 class="call-title">¿Estas interesado o quieres saber más?</h2>
                    <p class="text">
                        Háznoslo saber si te encuentras interesado en alguno de nuestros equipos o si requieres de
                        alguno de
                        nuestros servicios
                    </p>
                    <div class="call-newsletter">
                        <i class="lni-envelope"></i>
                        <input type="text" placeholder="info@medisystem.com" />
                        <button type="submit">Contacto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>